/* 
#insta-blue{
    color: blue;
} */

/* a{
    color: red;
    font-size: 22px;
} */

/* .gold-color{
    color: gold;
}

.red-color{
    color: red;
}


a{
    color: green;
} */

/* a{
    color: orange;
} */
 
/* 
h1{
    color: red;
    font-size: 45px;
    background-color: green;
}

.heading-1 {
    color: orange;
}

.heading-1-1{
    font-size: 15px;
}
 */

/* 
    background-color: green;
    font-size: 15px;
    color: orange;
*/





.my-link:link{
    background-color: gold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    /* color: green;
    font-size: 50px;
    font-weight: 500; */
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
}

 /* .my-link:visited{
    color: #000;
    text-decoration: line-through;
} */

.my-link:hover{
    /* color: blue;
    text-decoration: none; */
    color: #fff;
    background-color: #000;
}

/*

.my-link:hover{
    color: blue;
    text-decoration: none;
}

.my-link:active{
    color: gray;
    text-decoration: none;
} */











